header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: $black;

    .header_inner{
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            display: flex;
            align-items: center;

            img{
                height: 30px;
                margin-right: 10px;
            }

            b{
                font-size: 15px;
                font-weight: bold;
                color: white;
            }
        }

        #hireBtn{
            min-width: 90px;
            height: 30px;
            padding: 0 15px;
            @extend .inline-flex-center;
            color: white;
            background-color: $blue;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            transform: scale(1, 0);
            opacity: 0;

            &.show{
                transform: scale(1, 1);
                opacity: 1;
            }

            @media (max-width: 767.98px){
                transform: scale(1, 1);
                opacity: 1;
            }
        }

        #toggleMenu{
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            display: block;

            span{
                width: 20px;
                display: block;
                height: 2px;
                background-color: white;
                transition: $tr;
                transform: translateY(0px) rotate(0deg);

                &:nth-child(2){
                    width: 12px;
                    margin: 4px auto;
                    opacity: 1;
                }
            }

            &.active{
                span{
                    &:first-child{
                        transform: translateY(6px) rotate(45deg);
                    }

                    &:nth-child(2){
                        opacity: 0;
                    }

                    &:last-child{
                        transform: translateY(-6px) rotate(-45deg);
                    }
                }
            }
        }
    }
}

#header_menu{
    height: $height;
    position: fixed;
    z-index: 50;
    top: 90px;
    width: 100%;
    transition: $tr;
    opacity: 0;
    transform: scale(1, 0);
    
    ul{
       @extend .container;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-end; 
       height: 100%;
       
       li{
           font-size: 55px;
           font-weight: bold;

           a{
               position: relative;
               display: block;
               background-color: $black;

               &::after{
                content: "";
                position: absolute;
                display: block;
                height: 13px;
                width: 0;
                transition: $tr;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: $blue;
               }
           }

           &.active{
               a::after{
                width: calc(100% + 10px);
               }
           }
       }
    }

    &.active{
        opacity: 1;
        transform: scale(1, 1);
    }
}

#open_header{
    border: 0px solid transparent;
    transform-origin: 0% 0%;
    height: auto;
    transition: $tr;
    transform: rotateY(0deg);
    position: relative;
    top: 0;
    opacity: 1;

    &.active{
        border: 20px solid $blue;
        transform: perspective(750px) rotateY(30deg);
        overflow: hidden;
        top: 90px;
        height: $height;

        @media (max-width: 767.98px){
            opacity: 0;
        }
    }
}